body {
    text-align: left;
}

#profileSelect .btn[aria-expanded=true] {
    color: #fff;
    background-color: #29a019;
}

.jumbotron {
    padding: 1rem 1rem;
}

form>label {
    text-align: left
}

.card {
    margin-bottom: 16px;
}

.save-button {
	margin-left: 8.5px;
}

.site-name {
    font-size: 20px;
    font-weight: 600;
    margin: 0px 64px;
}

.site-control {
    text-align: right;
}

.site-control-block {
    margin: 0px 64px;
}

.site-nav-item {
    padding: 6px;
    margin: 2px;
    font-style: normal;
}

.site-header {
    background-color: #f9d9eb;
}

.site-header-art {
    background: url('/img/Artboard.png');
}

.site-header-labels {
    padding: 64px;
}

#site-header-label-top {
    font-size: 24px;
    margin-bottom: -6px;
}

#site-header-label-mid {
    font-size: 40px;
    margin-bottom: 0px;
}

#site-header-label-bot {
    font-size: 24px;
    margin-bottom: 50px;
}

.site-body {
    background-color: #d1e0ff;
}

.site-button {
    background-color: #3040C4;
    color: rgb(238, 238, 238);
    border: 0px;
    border-radius: 3px;
    padding: 6px 20px;
    font-weight: 600;
}

.site-button:hover {
    background-color: #7782e2;
}
