<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <title>AF Connect Demo</title>
    <style>
        body {
            background-color: #c3d5da;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-2 mt-2">
                <h3>Ansök för: JobTech Systemutvecklare</h3>
            </div>
        </div>

        <div >
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12 p-2">
                        <h5>Skapa ditt cv</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 p-2">
                        <div class="af-connect-module"
                             data-label="Skapa CV med Gravity (AF)"
                             data-poll-rate="1000"
                             data-timeout="300000"
                             data-af-connect-url="https://demotest.arbetsformedlingen.se"
                             data-af-portability-url="https://portability.arbetsformedlingen.se"
                             data-on-response="onResponse">
                        </div>
                    </div>
                </div>
                
                <%- include ../partials/cv-form.ejs %>

                <div class="row">
                    <button type="button" class="btn btn-primary save-button" onclick="saveCV()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
    <script src="vendor/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="vendor/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="vendor/af-connect-module-0.1.0-dist/af-connect-module.bundle.js"></script>
    <script type="text/javascript">
        function saveCV() {
            alert("Your CV has been saved. Thank you for your application.");
        }
    </script>
</body>
</html>
